@model User
<h1 class="text-center mt-5">@Model.FirstName, You want to change your Passward I see</h1>
<div class="UserCard">
    
    <form asp-action="UpdatePassword" asp-route-userId="@Model.UserId" asp-controller="Home" method="post">
        <input type="hidden" asp-for="@Model.FirstName" value="@Model.FirstName">
        <input type="hidden" asp-for="@Model.LastName" value="@Model.LastName">
        <input type="hidden" asp-for="@Model.UserImg" value="@Model.UserImg">
        <input type="hidden" asp-for="@Model.Email" value="@Model.Email">
        <div>
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" class="form-control">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="@Model.Confirm">Confirm Password</label>
            <input asp-for="@Model.Confirm" class="form-control">
            <span asp-validation-for="@Model.Confirm" class="text-danger"></span>
        </div>
        <input type="submit" value="Update" class="btn btn-primary mt-3">
    </form>
</div>